<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar cliente</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Editar cliente</h2>
        <hr>
        <br>
        <form action="#" th:action="@{/saveClient}" th:object="${client}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <input type="text" th:field="*{nombres}" placeholder="Nombres" class="form-control mb-4 col-4">

            <input type="text" th:field="*{apellidos}" placeholder="Apellidos" class="form-control mb-4 col-4">

            <input type="text" th:field="*{DUI}" placeholder="DUI" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{telefono}" placeholder="Teléfono" class="form-control mb-4 col-4">
            
            <input type="number" th:field="*{edad}" min="0" max="130" placeholder="Edad" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{direccion}" placeholder="Dirección" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2">Actualizar</button>
        </form>

        <hr>

        <a th:href="@{/}"> Regresar a la lista de clientes </a>
    </div>
</body>

</html>